# Ignore node_modules
**/node_modules
**/.git
**/.venv
**/.DS_Store
**/.env
**/npm-debug.log
**/yarn-error.log

# Ignore local dev files
**/compose.yaml
**/compose.override.yaml
**/docker-compose.yml
**/Dockerfile
**/README.md
